/** @format */

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#page-logo a {
  padding: 5px;
  font-family: "Oleo Script", "sans-serif";
  color: rgb(9, 100, 134);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: rgb(9, 100, 134);
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  border-radius: 6px;
}

header a:hover {
  color: #333;
  background-color: rgb(9, 145, 134);
}

footer {
  background: linear-gradient(
    70deg,
    rgb(24, 24, 24),
    rgb(25, 29, 29)
  );
  padding: 34px 0;
}
footer ul {
  display: flex;
  justify-content: center;
  /* padding: 40px 0; */
}

footer li {
  width: 80px;
  height: 80px;
  margin: 0 50px;
}

footer img {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  header a {
    color: rgb(9, 100, 134);
    text-decoration: none;
    font-size: 14px;
    padding: 4px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-radius: 3px;
  }

  #hero-content a {
    text-decoration: none;
    background-color: rgb(9, 100, 134);
    padding: 8px 16px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(68, 67, 67);
  }
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }

  #page-logo a {
    padding: 5px;
    font-size: 24px;
  }

  header li {
    display: flex;
    margin-left: 0;
  }

  footer {
    padding: 20px 0;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer li {
    width: 70px;
    height: 70px;
    padding: 10px;
  }

  footer img {
    width: 100%;
    height: 100%;
  }
}
